.container {
  display: flex;

  @media (max-width: 30em) {
    flex-direction: column-reverse;
  }
}

.textContainer {
  max-width: 64rem;

  margin-right: 5.4rem;

  @media (max-width: 30em) {
    margin-right: 0;
  }
}

.heading-name {
  font-size: 5.6rem;
}

.heading-intro {
  font-size: 3.6rem;
}

.image-container {
  align-self: center;
}

.image {
  border-radius: 50%;
}
